body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-family: Roboto;
}
.page{
    position: absolute;
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-transform: capitalize;
    transition: all 300ms 200ms ease-in;
    opacity: 0;
    z-index: 0;
}
.header{
    font-size: 6vw;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.5);
}
.animation-bar{
    margin: 0;
    padding: 0;
    width: 60%;
    height: 45%;
    box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    text-transform: uppercase;
    color: white;
    background-color: rgb(253, 40, 40);
    outline: none;
    border-radius: 1vw;
    border: none;
    font-size: 1.5vw;
    padding: 1vw 1vw;
    cursor: pointer;
    transition: all 500ms ease;
}
.first, .second , .third{
    text-transform: none;
    width: 100%;
    height: 25%;
    display: flex;
    position: absolute;
    opacity: 0;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-size: 3vw;
    color: rgba(0, 0, 0, 0);
    transform: translate(0,80px);
    transition: all 500ms ease-out;
}
.appeared{
    opacity: 1;
    color: rgba(0, 0, 0, 0.7);
    transform: translate(0);
}
.currentPage{
    opacity: 1;
    z-index: 2;
}
.btn:hover{
    background-color: #fff;
    color: rgb(253, 40, 40);
    border: 1px solid rgb(253, 40, 40);
    /* padding: 1% 2%; */
    box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.2);
}
.pics>div:nth-child(1){
    background-image: url('pic1.jpg');
}
.pics>div:nth-child(2){
    background-image: url('pic3.jpg');
}
.pics>div:nth-child(3){
    background-image: url('pic2.jpg');
}
.pics{
    margin: 0;
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    grid-template-rows: 20vw;
    grid-gap: 7vw;
}
.pics>div{
    border-radius: 10%;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 500ms ease;
    cursor: pointer;
    border: 1vw solid #fff;
    outline: none;
}
#select-btn{
    opacity: 0;
}
.front{
    z-index: 2;
    position: absolute;
    width: 20vw;
    height: 20vw;
    padding: 1vw;
    transform: translate(-1vw,-1vw);
    border-radius: 10%;
    background: rgba(256, 256, 256, 0);
    transition: all 500ms ease;
}
.page3{
    justify-content: flex-start;
}
.puzzle{
    position: absolute;
    width: 38.3vw ;
    height: 38.3vw;
    display:grid;
    grid-template-columns: 13vw 13vw 13vw;
    grid-template-rows: 13vw 13vw 13vw;
    grid-gap: .3vw;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 1vw;
    background-color: rgb(245,245,245);
}
.puzzle>div{
    border-radius: 1.5vw;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 12vw;
    height: 12vw;
    border: .2vw solid green;
    background-size: 38vw 38vw;
    transition-timing-function:ease;
    transition-property: all;
}
.page3{
    margin-top: 10vh;
    height: 70vh ;
}
.page3>h1,h5{
    position: absolute;
    top: 52vh;
    margin-top: 5vh;
    font-size: 2.5vw;
    color: rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    font-weight: 600;
}
#h2{
    display: none;
    font-size: 3vw;
}
.page3>h5{
    display: none;
    top: 57vh;
    font-size: 1.5vw;
}
#shuffle{
    position: absolute;
    top: 64vh;
    width: 20vw;
    padding: 1vw;
    font-size: 1.3vw;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
#shuffle-btn{
    opacity: 0;
    position: absolute;
    top: 77vh;
    transition: opacity 1s ease;
}
#a8{
    background-position: bottom right;
}
#a7{
    background-position: bottom center;
}
#a6{
    background-position: bottom left;
}
#a5{
    background-position: center right;
}
#a4{
    background-position: center center;
}
#a3{
    background-position: center left;
}
#a2{
    background-position: top right;
}
#a1{
    background-position: top center;
}
#a0{
    border: none;
}
.a8{
    top: 25.5vw;
    left: 25.5vw;
}
.a7{
    top: 25.5vw;
    left: 13vw;
}
.a6{
    top: 25.5vw;
    left: 0.5vw;
}
.a5{
    top: 13vw;
    left: 25.5vw;
}
.a4{
    top: 13vw;
    left: 13vw;
}
.a3{
    top: 13vw;
    left: 0.5vw;
}
.a2{
    top: 0.5vw;
    left: 25.5vw;
    
}
.a1{
    top: 0.5vw;
    left: 13vw;
}
.a0{
    top: 0.5vw;
    left: 0.5vw;
}
.onHover{
    width: 102%;
    height: 102%;
    transform: translate(-1%,-1%);
    z-index: 10;
    position: absolute;
    background-color: rgba(256, 256, 256, 0.7);
    border-radius: inherit;
    padding: inherit;
    margin: inherit;
}
.unvisible{
    display: none;
}
.won{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    transform: translate(0,-10vh);
    background: transparent;
    background-color: rgba(0, 0, 0, 0.25);
    transition: all 500ms ease;
}
.won h1{
    position: absolute;
    font-size: 2vw;
    font-weight: 400;
    top: 85vh;
    color: rgba(20, 20, 20, 1);
}
.won h5{
    position: absolute;
    font-size: 1vw;
    margin-top: 38vh;
    font-weight: 400;
    color: rgba(20, 20, 20, 1);
}
.end h1{
    position: absolute;
    font-size: 7vw;
    font-weight: 400;
    top: 24vh;
    color: rgb(256, 256, 0);
    transition: all 1000ms ease;
}
.end h5{
    position: absolute;
    font-size: 4vw;
    top: 5vh;
    font-weight: 400;
    color: rgb(256, 255, 0);
    transition: all 1000ms ease;
}