body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    width: 99vw;
    background:linear-gradient(rgb(174, 0, 255),rgb(255, 0, 242))
}
.piano{
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 45%;
}
.white{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    border: 3px solid black;
    border-radius: 0 0 10px 10px;
}
.white:hover{
    background-color: rgb(200, 200, 200);
}
.black{
    background-color: #000000;
    position: absolute;
    height: 26%;
    width: 5%;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.7);
}
.black:hover{
    background-color: rgb(50, 50, 50);
}
#Db4{
    left: 16%;
}
#Eb4{
    left: 24%;
}
#Gb4{
    left: 39.8%;
}
#Ab4{
    left: 47.4%;
}
#Bb4{
    left: 55.5%;
}
#Db5{
    left: 71.3%;
}
#Eb5{
    left: 79.3%;
}